<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>Club Scribble</title>
  <link rel="shortcut icon" href="/assets/img/favicon.png"/>
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
  <link rel="stylesheet"  href="/assets/styles.css"/>
    <script src="src/index.js" type="module"></script>
</head>
<body>
    <nav>
        <a href="/login"><img id="logo" src="/assets/img/face.png" alt="face logo"/></a>
        <div class="navlink"><a href="/logout">Log out</a></div>
        <div class="navlink"><a href="/maker">Maker</a></div>
    </nav>

    <section id="gameContent">

    </section>

    </body>
</html>