<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>Scribble Club</title>
  <link rel="shortcut icon" href="/assets/img/favicon.png"/>
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
</head>
<body id="accountFormBody">  
  <img src="assets/img/logo.png" class="mainLogo"></img>
  <section id="content">

  </section>
  <h3 id="errorMessage" class='hidden'></h3>
  <script src="/assets/loginBundle.js"></script>
</body>
</html>