html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Courier New', Courier, monospace;
    background-color: antiquewhite;
}

#accountFormBody {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mainLogo {
    width: 350px;
}

.mainForm {
    height: fit-content;
    width: fit-content;
    margin: 0;
    padding-top: 50px;
    font-size: 1.2em;
}

.mainForm h3 {
    text-align: center;
}

.mainForm label {
    display: inline-block;
    width: 100px;
    margin-right: 10px;
    text-align: right;
    font-size: 1.2em;
}

.formSubmit {
    transition: background-color 0.1s ease;
    transition: color 0.1x ease;
    display: block;
    text-align: center;
    margin: 0 auto;
    margin-top: 14px;
    font-size: 1.2em;
    width: 150px;
    padding: 3px 0px;
    text-decoration: none;
    background-color: burlywood;
    border-style: solid;
    border-width: 2px;
    border-radius: 2px;
    border-color: rgb(47, 39, 28);
    color: white;
}

.formSubmit:link, .formSubmit:visited, .formSubmit:hover, .formSubmit:active {
    color: white;
}

.formSubmit:hover {
    transition: background-color 0.1s ease;
    transition: color ;
    background-color: antiquewhite;
    color: rgb(47, 39, 28);
}

.formButton {
    transition: background-color 0.1s ease;
    display: block;
    text-align: center;
    margin: 0 auto;
    margin-top: 14px;
    font-size: 1.2em;
    width: 150px;
    padding: 5px 2px;
    text-decoration: none;
    background-color: white;
    border-style: none;
    border-radius: 2px;
    color: rgb(47, 39, 28);
}

.formButton:hover {
    background-color: rgb(244, 204, 151);
}

#user, #pass, #pass2, #oldPass, #newPass, #newPass2 {
    text-align: center;
    font-size: 1em;
    width: 180px;
    border-radius: 0px;
}

#user:focus, #pass:focus, #pass2:focus {
    outline: none;
    box-shadow: 0px 0px 1px 1px #55acee;
}

.hidden {
    display: none;
}

#errorMessage {
    margin: 0 auto;
    font-size: 1.0em;
    font-weight: bold;
    color: red;
}

#domos {
    width: 40%;
    min-width: 400px;
    border: 2px solid #55acee;
    border-radius: 4px;
    margin: 0 auto;
    margin-top: 100px;
}

.domo {
    width: 95%;
    margin: 0 auto;
    margin-top: 2px;
    margin-bottom: 2px;
    border: 2px solid aqua;
    border-radius: 4px;
    background-color: aqua;
    padding: 10px;
    min-height:60px;
    overflow: hidden;
}

.domo:hover {
    transition: border-color 0.2s ease-out;
    border-color: rgba(0, 0, 0, 0.8);
    transition: background-color 2.6s ease-out;
    background-color: violet;
}

img.domoFace {
    margin-left: 25px;
    margin-right: 10px;
    height: 50px;
    width: 50px;
    border-radius: 4px;
    margin-top:10px;
    float:left;
    border-radius: 1000px;
}

h3.emptyDomo {
    width: 400px;
    font-size: 1.5em;
    margin: 0 auto;
    text-align: center;
    margin-top: 18px;
}

h3.domoName {
    float:left;
    width: 200px;
    font-weight: bold;
    padding-left: 65px;
    font-size: 1.5em;
}

h3.domoAge {
    float:right;
    text-align: left;
    width: 100px;
    font-weight: bold;
    padding-right: 40px;
    font-size: 1em;
}

.domo:first-child {
    margin-top: 10px;
}

.domo:last-child {
    margin-bottom:10px;
}