body {
    background-color: aquamarine;
}

#main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#flex-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#canvasContainer {
    background-color: blueviolet;
    padding: 20px;
    width: fit-content;
}

/* CHAT FORM */
#chatForm {
    margin: 1em;
    padding: 7px;
    border-style: solid;
    border-width: 3px;
    border-radius: 100px;
    border-color: #aaf;
    background-color: white;
    width: fit-content;
    display: flex;
    flex-direction: row;
}

#textChatField {
    border: none;
    font-weight: bold;
    width: 500px;
    color: blue;
}

#textChatField::placeholder {
    color: lightblue;
}

#textChatField:focus {
    outline: none;
}

#textChatSubmit {
    height: 30px;
    width: 30px;
    padding: 0;
    border-style: solid;
    border-width: 2px;
    border-radius: 100px;
    border-color: blue;
    color: blue;
    background-color: lightblue;
}

/*Account Menu*/
#account-button {
    cursor: pointer;
}

.account-menu-background {
    background-color: rgba(0,0,0,0.2);
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.account-menu-body {
    background-color: white;
    width: 700px;
    padding: 20px;
    text-align: left;
}